/* components/banner/index.wxss */
.banner-wrap {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  .banner {
    height: 212rpx;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    .img-wrap {
      display: flex;
      justify-content: center;
    }
  }
  .banner-item {
    height: 100%;
    border-radius: 16rpx;
  }
  .red {
    background-color: red;
  }
  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }
}
